.labelTitle {
  font-size: 40px;
  text-align: center;
  border: solid 3px #340beb;
  border-radius: 6px;
  background: #340beb;
  color: #fff;
}

.form {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.radioinput {
  text-align: center;
}

.formSample {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 15px;
}

.formLabel {
  width: 100%;
  max-width: 248px;
  font-weight: bold;
  font-size: 19px;
}

.formRequire {
  border-radius: 5px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 55px;
  display: inline-block;
  text-align: center;
  background: red;
  color: #fff;
  font-size: 15px;
}

.formInput {
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 40px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
}

.formRadio {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 15px;
}

.labelRadio {
  margin-right: 50px;
}

.radioLabel {
  width: 100%;
  max-width: 500px;
  margin-left: 40px;
  font-size: 18px;
}
.formBtn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #340beb;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/******************************/
/* .information{
  display: flex;
  flex-flow: column;
} */

.information {
  color: red;
  border-radius: 5px;
  margin-left: 40px;
  margin-bottom: 0px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
}

/* padding-left: 10px; */
