.header {
  display: flex;
  justify-content: space-between;
  background-color: #fffacd;
}
.headerMenu {
  width: auto;
}
.menu {
  list-style: none;
  display: flex;
  gap: 3%;
  padding-left: 0;
  min-width: 600px;
}
.menuList {
  white-space: nowrap;
  color: #ff6347;
  display: flex;
  justify-content: flex-end;
}
.menuList:hover {
  color: #228b22;
}
