.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  gap: 2%;
  text-align: center;
  margin: 0 auto;
}
.item {
  border: solid;
  border-color: lightgray;
  margin: 15px;
  width: 200px;
  height: 270px;
  text-align: center;
}
.item:hover {
  transform: translate(0, -2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.itemName {
    display: inline-block;
  margin: 15px 0;
  height: 48px;
  vertical-align: middle;
}
.sizeM {
  background-color: #ff6347;
  padding: 1px;
  border: solid #ff6347;
  border-radius: 30%;
  line-height: 1.9;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.sizeL {
  background-color: #ff6347;
  padding: 1px 2.85px;
  border: solid #ff6347;
  border-radius: 30%;
  line-height: 1.9;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
