.searchContents {
  text-align: center;
  width: 600px;
  padding: 1%;
  margin: 1% auto 3% auto;
  border-radius: 5%;
  border-style: dashed;
  border-color: #f0e68c;
  border-width: 3px;
}
.search {
  font-size: 1.2rem;
  color: #ff6347;
}
.itemTitle {
  font-weight: bold;
  color: #ff6347;
}
.searchForm {
  height: 30px;
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff6347;
  margin-bottom: 1%;
}
.searchButton {
  background-color: #ff6347;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  border: none;
  padding: 8px 15px;
}
.clearButton {
  background-color: lightgray;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  border: none;
  padding: 8px 15px;
}
