.searchContents {
  text-align: center;
  width: 600px;
  padding: 1%;
  margin: 1% auto 3% auto;
  border-radius: 5%;
  border-style: dashed;
  border-color: #f0e68c;
  border-width: 3px;
}
.search {
  font-size: 1.2rem;
  color: #ff6347;
}
.itemTitle {
  font-weight: bold;
  color: #ff6347;
}
.searchForm {
  height: 30px;
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff6347;
  margin-bottom: 1%;
}
.searchButton {
  background-color: #ff6347;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  border: none;
  padding: 8px 15px;
  width: 70px;
}
.clearButton {
  background-color: lightgray;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  border: none;
  padding: 8px 15px;
  width: 70px;
}
.searchButton:hover {
  background-color: white;
  color: #ff6347;
  outline: solid #ff6347;
}
.clearButton:hover {
  background-color: white;
  color: #a9a9a9;
  outline: solid lightgray;
}
.searchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 10%;
  width: 1100px;
}
